/*fuentes*/
@font-face{
	font-family: GeorgiaBoldItalic;
	src: url('../fonts/Georgia/GeorgiaBoldItalic.ttf');
}

@font-face{
	font-family: GeorgiaBold;
	src: url('../fonts/Georgia/GeorgiaBold.ttf');
}

@font-face{
	font-family: GeorgiaItalic;
	src: url('../fonts/Georgia/GeorgiaItalic.ttf');
}

@font-face{
	font-family: Georgia;
	src: url('../fonts/Georgia/GeorgiaBoldItalic.ttf');
}
/* determinar fuentes */
p{
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	color: #454342; 
}

h1,h2,h3,h4,h5{
	font-family: 'GeorgiaBold';
}

/*estilo de barra de navegacion*/
#navbar{
	width: 100%;
	top: 0:;
}

.dropdown-toggle::after {
    display: none !important;
}

ul >.dropdown-menu{
	width: 22%  !important;
    left: 78% !important;
    margin: 0 !important;
    border: none !important;
    background-color: rgba(255, 255, 255, 0.51) !important;
    font-family: 'Montserrat', Helvetica, sans-serif !important;
	
}
#dropit{
	    /* width: 22% !important; */
    left: -217% !important;
    margin: 33% 0 !important;
    border: none !important;
    background-color: rgba(255, 255, 255, 0.51) !important;
    font-family: 'Montserrat', Helvetica, sans-serif !important;
}


.nav-link{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: #020327 !important;
	margin-left: 15px;
}

#drop:hover >.dropdown-menu {
   display: block;
}

/* estilos de introduccion */

/*parralax*/
body, html{
	height: 100%;
}
.parallax-scroll{
	height: 100%; 
	max-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.parallax {
    background-image: url('../images/consultoria-juridica-cdmx.jpg');
}
.parallax-1 {
    background-image: url('../images/arrendamientos-servicios-obras-publicas.jpg');
}
.parallax-2 {
    background-image: url('../images/asesores-due-diligence-contrataciones-publicas.jpg');
}
.parallax-3 {
    background-image: url('../images/asesores-legales-bienes-raices.jpg');
}
.parallax-4 {
    background-image: url('../images/consultoria-especializada-servicios-tecnicos-juridicos-administrativos.jpg');
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}

.title-gold{
	color: #cb9e6c;
    text-transform: uppercase;
    font-size: 23px;
    font-family: 'Montserrat', sans-serif;
}

.title-blue{
	font-family: 'GeorgiaBold', Helvetica, sans-serif;
    color: #2e3a5f;
    font-size: 36px;
}

.back-gold{
	    background: url(../images/back-gold.png);
    background-repeat: no-repeat;
    padding: 2% 10%;
    background-size: cover;
    background-position: center;
}

.content-text{
	margin: 7% 6%;
}

.backcolor{
	background-color: #F2F2F2;
}

#que{
	padding-top: 10%;
}

.boton{
	width: 247px;
	color: #cb9e6c;
    margin: auto;
    padding: 25px;
    background: url(../images/back-btn.png);
    background-repeat: no-repeat;
    font-size: 20px;
    background-position: center;
}

.servicios{
	border-bottom: 1px solid #C1C1BA;
    margin-bottom: 5%;
    padding-bottom: 5%;
}

/* footer */
.foot{
	width: 251px;
    float: right;
    margin: 3% 25% 3% 0;
}

/*back-to-top */
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
    background-color: transparent;
    border-color: transparent;
}



/*servicios */

.back-gold-1{
	background: url(../images/back-gold.png);
    background-repeat: no-repeat;
    padding: 5% 10%;
    background-size: contain;
    background-position: center;
}
/*contact0*/


/*mapa*/
.map {
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
         -o-filter: grayscale(100%);
            filter: grayscale(100%);
}

/*forma*/

div > .form-control{
	border: 1px solid #2e3a5f;
	border-radius: 1px !important;
}

.envio{
	width: 100%;
    padding: 12px;
    color: #cb9e6c;
    text-transform: uppercase;
    font-weight: 500;
    background-color: #2e3a5f;
    border: none;
    transition: all 0.3s ease 0s;
}

.envio:hover{
	color: white;
	background-color: #cb9e6c;
}

@media only screen and (max-width: 1199px){
	.intro{
		display: none;
	}

	#back-no{
		background: none;
		text-align: justify;
	}

	#back-no-1{
		background: none;
		margin-top: 10%;

	}

	#text-just{
		text-align: justify !important;
		margin: 5% 0;
	}
}

@media only screen and (max-width: 768px){

	#title-blue{
		font-size: 25px;
	}

	#no-margin{
		margin-top: 0 !important;
	}

	#back-no-1{
		background: none;
		margin: 50% 0 0 0;
	}

	.offset-2{
		margin-left: 0 !important;
	}

	#dropit{
		margin: 0 !important;
	}
}

@media only screen and (max-width: 991px){


	#dropit{
		margin: 0 !important;
	}
	#navbarDropdownMenuLink{
	margin-left: 0px;
	}
	#no-w{
		width: auto !important;
	}
}

